@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main-bg{
    background-image: url('../img/dragon-scales.svg');
    background-position: center center;
    color: var(--white-color
    )
}

.white-bg{
    background-color: var(--white-color);

}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.1rem solid var(--border-color);
    z-index: 1;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}

.menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: inherit;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secundary-color);
    transition: all 150ms ease-in-out;
}


.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 64px;
}

.intro-content{
    position: relative;
    top: -6.4rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh
}

.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}


.intro-img img, .intro-img svg{
    max-width: 100%;
    height: auto;
}

.about-me{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me p{
    max-width: 80rem;
}

.grid-one-content{
    padding-top: 6rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3{
    font-size: 3.5rem;
    font-weight: 500;
}
/* 
.gallary-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallary-img img{
    transition: all 300ms ease-in-out;
}

.gallary-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
} */

.center{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.github-content{
    position: relative;
    top: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.github-content img{
    max-width: 100%;
    height: auto;
}


.contato-content{
    position: relative;
    top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh
}

.contato-text, .contato-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.contato-img svg{
    max-width: 100%;
    height: auto;
}

.contato-text ul li{
    margin-right: 3rem;
}

.centralizadora{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}